* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game-area {
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
}

.card {
    position: relative;
}

.card div {
    height: 130px;
}

.front-card {
    position: absolute;
    border: 2px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 100px;
    width: 100px;
}