/* General CSS styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../images/background.png);
}
/* Heading styles taken from https: //www.youtube.com/watch?v=7JbBr9q4UF8 */
.heading {
    max-width: 480px;
    border: 2px solid #a6a6a6;
    margin: auto;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 45px;
    color: #000000;
    padding-top: 10px;
}

.score {
    margin-top: 10px;
    font-size: 30px;
    padding-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.restart {
    padding: 10px 20px;
    font-size: 16px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #ffffff;
    padding: 20px;
    text-align: center;
}

.game-info {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-bottom: 20px;
}

/* Game area and cards CSS styling taken from https: //www.youtube.com/watch?v=7JbBr9q4UF8 */
.game-area {
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
    margin: auto;
    padding: 20px;
}

.card {
    position: relative;
    cursor: pointer;
}

.card div {
    height: 130px;
    border-radius: 4px;
}

.front-card {
    position: absolute;
    border: 2px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    transform: rotateY(90deg);
}

.back-card {
    background-color: lightblue;
}

img {
    height: 100px;
    width: 100px;
}

.flip {
    transform: rotateY(0deg);
}

.match {
    transform: rotateY(0deg);
}

.show {
    transform: rotateY(0deg);
}

/* Media query for responsiveness, also taken from https: //www.youtube.com/watch?v=7JbBr9q4UF8 */
@media screen and (min-width:770px) {
    .heading {
        max-width: 760px;
    }

    .game-area {
        grid-template-columns: repeat(4, auto);
    }

    .card div {
        height: 170px;
    }

}

@media screen and (max-width: 400px) {
    img {
        height: 80px;
        width: 80px;
    }
}